html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #333;
    /*the cursor doesn't change and the numbers on buttons won't get highlighted*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    /*animated background*/
    background: linear-gradient(270deg, #7ac7ff, #96fc77);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

div {
    margin: 0;
    padding: 0;
}

header, #victory {
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: #444;
    letter-spacing: 0.3em;
}

section {
    width: 331px;
    /*TODO width must be 330px , only in IE 331px*/
    height: 330px;
    margin: 2em auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /*// IE10+ CSS here*/
    section {
        width: 331px;
    }
}

.btnGreen {
    background: #76b51c;
    width: 150.5px;
    height: 150.5px;
    float: left;
    border-radius: 100% 0 0 0;
    border: solid #333;
    border-width: 10px 5px 5px 10px;
}

.btnRed {
    background: #ad2121;
    width: 150.5px;
    height: 150.5px;
    float: left;
    border-radius: 0 100% 0 0;
    border: solid #333;
    border-width: 10px 10px 5px 5px;
}

.btnYellow {
    background: #d1d51b;
    width: 150.5px;
    height: 150.5px;
    clear: both;
    float: left;
    border-radius: 0 0 0 100%;
    border: solid #333;
    border-width: 5px 5px 10px 10px;
}

.btnBlue {
    background: #2122ad;
    width: 150.5px;
    height: 150.5px;
    float: left;
    border-radius: 0 0 100% 0;
    border: solid #333;
    border-width: 5px 10px 10px 5px;
}

.menu {
    width: 175px;
    height: 175px;
    border-radius: 100%;
    background: #eeeeee;
    position: absolute;
    top: 67.3px;
    left: 67.3px;
    border: 10px solid #333;
}

.simonText {
    color: #333;
    font-size: 2.5em;
    font-family: 'Alfa Slab One', cursive;
    position: absolute;
    top: 23px;
    left: 17px;
}

.simonText span {
    font-size: 0.3em;
    vertical-align: super;
}

#counter {
    width: 3em;
    height: 1.7em;
    background: #660000;
    position: absolute;
    top: 80px;
    left: 15px;
    border: 2px solid #333;
    border-radius: 3px;
}

#count-number {
    font-family: 'VT323', monospace;
    font-size: 2.2em;
    color: #990000;
    position: absolute;
    top: -5px;
    left: 9px;
    margin: auto;
}

#start {
    width: 1.2em;
    height: 1.2em;
    background: #FF3333;
    position: absolute;
    top: 85px;
    left: 80px;
}

#strict {
    width: 1.2em;
    height: 1.2em;
    background: #ffea30;
    position: absolute;
    top: 85px;
    left: 125px;
}

#strict-led {
    width: 0.5em;
    height: 0.5em;
    background: #320000;
    position: absolute;
    top: 70px;
    left: 132px;
    border: 2px solid #333;
    border-radius: 100%;
}

.btn-shadow {
    border: 3px solid #333;
    border-radius: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    border-style: outset;
}

.btn-shadow:active {
    box-shadow: none;
    border-style: inset;
}

.btn-text {
    color: #333;
    font-size: 0.7em;
}

#counter-txt {
    position: absolute;
    top: 100px;
    left: 15px;
}

#start-txt {
    position: absolute;
    top: 100px;
    left: 77px;
}

#strict-txt {
    position: absolute;
    top: 100px;
    left: 120px;
}

.on-off {
    width: 3em;
    height: 1em;
    background: #320000;
    position: absolute;
    top: 140px;
    left: 65px;
    border: 2px solid #333;
    border-radius: 3px;
}

.switch {
    width: 1.2em;
    height: 0.8em;
    background: #3726ed;
    position: absolute;
    top: 142px;
    left: 90px;
    border: 2px solid #333;
    border-radius: 3px;
    border-style: outset;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

.switch:active {
    box-shadow: none;
    border-style: inset;
}

.on {
    font-weight: bold;
    position: absolute;
    top: 132px;
    left: 42px;
}

.off {
    font-weight: bold;
    position: absolute;
    top: 132px;
    left: 120px;
}

footer {
    clear: both;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #222;
    font-weight: bold;
}

a:focus {
    color: inherit;
}

hr {
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
